# LIST METHODS

In [3]:
#clear() : Removes all the elements from the list. syntax : list.clear()
#example of clear()

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.clear()
print(colours)

[]

In [4]:
#copy() : Returns a copy of the list
#example of copy()

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.copy()
print(colours)

['yellow', 'red', 'blue', 'green', 'white']

In [8]:
#count() : Returns the number of elements with the specified value

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.count('yellow')

1

In [12]:
#extend() : Add the elements of a list (or any iterable), to the end of the current list

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.extend('red')
print(colours)

['yellow', 'red', 'blue', 'green', 'white', 'r', 'e', 'd']

In [19]:
#pop : Removes the element at the specified position

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.pop()

'white'

In [24]:
#reverse() : Reverses the order of the list

colours = ['yellow', 'red', 'blue', 'green', 'white' ]
colours.reverse()
print(colours)

['white', 'green', 'blue', 'red', 'yellow']

# STRING METHODS

In [26]:
#capitalize() : Converts the first character to upper case

word='am i doing pratice right now'
word.capitalize()

'Am i doing pratice right now'

In [29]:
#casefold() : Converts string into lower case

word = "AM I DOING PRATICE RIGHT NOW"
x = word.casefold()
print(x)

am i doing pratice right now

In [31]:
#center() : Returns a centered string

word = " pratice "
x = word.center(30)
print(x)

           pratice

In [35]:
#count() : Returns the number of times a specified value occurs in a string

word = " i love travelling, travelling find the peace. "
x = word.count('travelling')
print(x)

2

In [36]:
#uncode() : Returns an encoded version of the string

txt = 'my name is kavya'
x = txt.encode()
print(x)

b'my name is kavya'

In [37]:
#endswith() : Returns true if the string ends with the specified value

word = " i love travelling, travelling find the peace. "
y = word.endswith(".")
print(y)

False

In [40]:
#expandtabs() : Sets the tab size of the string

txt = "H\te\tl\tl\to"
y = txt.expandtabs()
print(y)

H       e       l       l       o

In [41]:
#find() : Searches the string for a specified value and returns the position of where it was found

txt = "Hello, welcome to my world."
a = txt.find("world")
print(a)

21

In [52]:
#format() : Formats specified values in a string

txt = "My name is kavya", "i am 21".format('kavya',21)
print(txt)

('My name is kavya', 'i am 21')

In [53]:
#format_map() : Formats specified values in a string

txt = "Hello, welcome to my world."
a = txt.format_map('world')
print(a)

Hello, welcome to my world.

In [55]:
#index() : Searches the string for a specified value and returns the position of where it was found

txt = "Hello, welcome to my world."
a = txt.index('world')
print(a)

21

In [56]:
#isalnum() : Returns True if all characters in the string are alphanumeric

txt = "welcome"
x = txt.isalnum()
print(x)

True

In [60]:
#isalpha() : txt = "Hello, welcome to my world."

txt = "world"
x = txt.isalpha()
print(x)

True

In [63]:
#isascii : Returns True if all characters in the string are ascii characters

txt = '2333'
y = txt.isascii()
print(y)

True

In [64]:
#isdecimal() : Returns True if all characters in the string are decimals

txt = "world"
x = txt.isdecimal()
print(x)

False

In [65]:
txt = '322256'
y = txt.isdecimal()
print(y)

True

In [66]:
#isdigit() : Returns True if all characters in the string are digits

txt = '5426562'
x = txt.isdigit()
print(x)

True

In [69]:
#isidentifier : Returns True if the string is an identifier

txt = "welcome"
x = txt.isidentifier()
print(x)

True

In [70]:
#islower() : Returns True if all characters in the string are lower case

txt = " data science "
x = txt.islower()
print(x)

True

In [71]:
#isnumeric() : Returns True if all characters in the string are numeric

txt = '8379127'
x = txt.isnumeric()
print(x)

True

In [73]:
#isprintable() : Returns True if all characters in the string are printable

t = 'world'
x = t.isprintable()
print(x)

True

In [74]:
y = txt.isprintable()
print(y)

True

In [75]:
#isspace() : Returns True if all characters in the string are whitespaces

txt = ' world '
x = txt.isspace()
print(x)

False

In [76]:
txt = "     "
y = txt.isspace()
print(y)

True

In [77]:
#istitle : Returns True if the string follows the rules of a title

txt = 'WELCOME'
y = txt.istitle()
print(y)

False

In [78]:
#isupper : Returns True if all characters in the string are upper case

txt = ' THIS IS ERROR '
x = txt.isupper()
print(x)

True

In [82]:
#join() : Joins the elements of an iterable to the end of the string

txt = 'mother','father','sister','brother'
x = " # ".join(txt)
print(x)

mother # father # sister # brother

In [84]:
#ljust() : Returns a left justified version of the string

txt = "welcome"
x = txt.ljust(20,"0")
print(x)

welcome0000000000000

In [85]:
#lower() : Converts a string into lower case

txt = 'welcome TO HYDERBAD'
y = txt.lower()
print(y)

welcome to hyderbad

In [87]:
#lstrip : Returns a left trim version of the string

txt = '       apples        '
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits apples         is my favorite

In [89]:
#maketrans() : Returns a translation table to be used in translations

txt = "hello cat"
x = txt.maketrans('c','d')
print(txt.translate(x))

hello dat

In [91]:
#partition() : Returns a tuple where the string is parted into three parts

txt = ' i could eat lunch everyday '
y = txt.partition("lunch")
print(y)

(' i could eat ', 'lunch', ' everyday ')

In [92]:
#replace() : Returns a string where a specified value is replaced with a specified value

txt = 'i like eatting'
x = txt.replace('eatting','slepping')
print(x)

i like slepping

In [93]:
#rfind() : Searches the string for a specified value and returns the last position of where it was found

txt = 'i like eatting'
x = txt.rfind('eatting')
x

7

In [101]:
#rjust() : Returns a right justified version of the string

txt = "banana"
x = txt.rjust(30)
print(x, "is my favorite fruit.")

                        banana is my favorite fruit.

In [102]:
#rpartition : Returns a tuple where the string is parted into three parts

txt = "I could like to slepping all day, slepping are my favorite hobbit"
q = txt.rpartition('slepping')
q

('I could like to slepping all day, ', 'slepping', ' are my favorite hobbit')

In [107]:
#rsplit() : Splits the string at the specified separator, and returns a list

txt = "apple, banana, cherry"
x = txt.rsplit(", ")
x

['apple', 'banana', 'cherry']

In [108]:
#rstrip() : Returns a right trim version of the string

txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [109]:
#splitlines : Splits the string at line breaks and returns a list

txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
x

['Thank you for the music', 'Welcome to the jungle']

In [112]:
#startswith : Returns true if the string starts with the specified value

txt  = 'hello welcome to hyd'
x = txt.startswith('hello')
x

True

In [113]:
#strip() : Returns a trimmed version of the string

txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [114]:
#swapcase() : Swaps cases, lower case becomes upper case and vice versa

txt = 'hello, my name is KAVYA'
x = txt.swapcase()
x

'HELLO, MY NAME IS kavya'

In [115]:
#title : Converts the first character of each word to upper case

txt = "Welcome to my hyd"
x = txt.title()
x

'Welcome To My Hyd'

In [117]:
#translate() : Returns a translated string

txt = 'hello cat'
table = str.maketrans("c", "P")
print(txt.translate(table))

hello Pat

In [118]:
#upper : Converts a string into upper case

txt = 'please'
x = txt.upper()
x

'PLEASE'

In [119]:
#zfill : Converts a string into upper case

txt = "187"
y = txt.zfill(100)
y

'0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000187'