In [1]:
#write a python program to print hello world 

txt = "hello world"
print(txt)

hello world

In [4]:
#write a python program to calculate sum of numbers

numb1 = (1,2,3,4,5,6)
numb2 = (4,2,4,5,7,6,4,2)
s = numb1 + numb2
print(s)

(1, 2, 3, 4, 5, 6, 4, 2, 4, 5, 7, 6, 4, 2)

In [7]:
#create a variables for string a preson name,age and average score

name = "kavya"
age = '21'
score = '75.9'
print(name,age,score)

kavya 21 75.9

In [9]:
name,age,score = 'navya','30','76.8'
print(name)
print(age)
print(score)

navya
30
76.8

In [11]:
#write a python program to concatenate two strings

a = 'kavya'
b = 'talari'
c = a + b
print(c)

kavyatalari

In [19]:
#create a list of vegtable and access then index

lst = ['carrot','beetroot','tomato','potato','mushroom','green pea']
print(lst[1:5])      # here we using the slicing index

['beetroot', 'tomato', 'potato', 'mushroom']

In [15]:
#convert the temperture from celsius to overheating country
overheated = 40
temp_celsius =24.7
print(float(overheated))    # here we using float data types
print(temp_celsius)

40.0
24.7

In [16]:
#write python program to calculate area of triangle by length and breadth

a = 230
b = 567
t = a + b /2   #here triangle formalu's
print(t)

513.5

In [17]:
#create list with number idenity from which is minimum numbers

l = ['1','2','3','9','6','7','8']
smallest = min('l','3','8')
print(smallest)

3

In [18]:
#write a python program to check if numbers even condition from even numbers

x = 2
x % 2 == 0            # here evenby usingthe modulus operator % .(number %2  ==0)
print(x,"Is Even Number")

2 Is Even Number

In [5]:
#write a python program if given string is concatenate only numbers

txt = '1089'
a = txt.isdigit()
a

True

In [6]:
txt ='does'
s = txt.isdigit()
s

False