# SETS

Sets are used to store multiple items in a single variable.
A set is a collection which is unordered,unchangeable and unindexed. 
Note : Set item are unchangable,but you can remove items and add new items.
Sets are written with curly brackets ' { } '.
It will allows duplicates not allowed like in sets can't have two items with the same values.
In sets are output are in unorder data type.

In [5]:
#example of sets 
moblie = { 'realme', 'redmi' , 'vivo', 'oneplus' }
moblie = set([1,4,6,2])
print(moblie)

{1, 2, 4, 6}

In [9]:
fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
set('fruits')

{'f', 'i', 'r', 's', 't', 'u'}

In [11]:
print(type(fruits))

<class 'set'>

In [13]:
set('terms')

{'e', 'm', 'r', 's', 't'}

In [16]:
set("letterssss")       #does not allows duplicate element

{'e', 'l', 'r', 's', 't'}

In [18]:
alphapet = ('a','b','c','d','e','f','g','h','i','t','t' )
set("alphapet")

{'a', 'e', 'h', 'l', 'p', 't'}

In [70]:
moblie = { 'realme', 'redmi' , 'vivo', 'oneplus' }
set('moblie')                                      #set is unorder

{'b', 'e', 'i', 'l', 'm', 'o'}

In [71]:
set('water pool')

{' ', 'a', 'e', 'l', 'o', 'p', 'r', 't', 'w'}

In [72]:
set('kavya')

{'a', 'k', 'v', 'y'}

# ADD ITEM TO A SET IN PYTHON

Once a set is created , you can,t change its items,but you can add new items.
To add one item to a set use the add() method.
To add item from another set into the called set,use the update() method.
syntax : thisset.update(tropical).

In [73]:
#example of add item
animal = { 'cat','rat','dog','rabbit' }
numbers = {'1', '2', '3', '4', '5'}
numbers.add('animal')
print(numbers)

{'1', '4', 'animal', '5', '2', '3'}

In [74]:
moblie = { 'realme', 'redmi' , 'vivo', 'oneplus' }
moblie.add('iphone')
print(moblie)

{'vivo', 'iphone', 'realme', 'redmi', 'oneplus'}

In [75]:
companies = { 'google' ,'tcs', 'infosys', 'wipro','ibm'}
companies.add('accenture')
print(companies)

{'accenture', 'ibm', 'infosys', 'tcs', 'wipro', 'google'}

In [76]:
colours = { 'red', 'yellow', 'black', 'white', 'blue', 'green' }
colours.add('dark blue')
print(colours)

{'yellow', 'red', 'blue', 'white', 'black', 'dark blue', 'green'}

In [77]:
f = { 'rose', 'sunflower', 'lily', 'lotus' }
f.add('jasmine')
print(f)

{'rose', 'jasmine', 'sunflower', 'lily', 'lotus'}

In [78]:
a = {'q','e','r','y','w','f'}
a.add('p')
print(a)

{'w', 'p', 'y', 'e', 'r', 'q', 'f'}

 # UPDATE ITEMS TO A SET

The update() method update the called set by adding items from another set (or any other iterable).
If an item is present in both sets,only on apperance of this will be present in the updated set.
As a shortcut you can use the |= operator instead.
syntax : set.update(set1,set2,...)

In [79]:
#example of upated of item
a = {'q','e','r','y','w','f'}
a.update('d','g','i')
print(a)

{'w', 'y', 'd', 'e', 'i', 'r', 'q', 'f', 'g'}

In [80]:
f = { 'rose', 'sunflower', 'lily', 'lotus' }
f.update('jamine')

In [81]:
print(f)

{'a', 'rose', 'j', 'sunflower', 'n', 'e', 'i', 'lily', 'lotus', 'm'}

In [82]:
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
name.update('vaishu')
print(name)

{'a', 'navya', 'h', 's', 'manisha', 'u', 'kovela', 'kavya', 'gunaa', 'i', 'v'}

In [83]:
numbers = {'1','2','3','4','5','6','7','8','9' }
numbers.update('10','100','1000')
print(numbers)

{'2', '9', '3', '1', '4', '0', '8', '7', '5', '6'}

# REMOVE OR DISCARD ITEM OF SET

Remove an item in a set, use the remove() or discard() method.
Here remove and discard are same because item are remove, discard are also removing item.

In [84]:
#example of remove() or discard() item 
numbers = {'1','2','3','4','5','6','7','8','9' }
numbers.remove('1')
print(numbers)

{'2', '9', '3', '4', '8', '7', '5', '6'}

In [85]:
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
name.discard('gunaa')
print(name)                                               #here discard are same to remove

{'manisha', 'navya', 'kavya', 'kovela'}

In [86]:
fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
fruits.discard('kiwi')
print(fruits)

{'grapess', 'orange', 'pineappless', 'apple'}

In [88]:
f.remove('rose')
print(f)

{'o', 'a', 'r', 's', 'j', 'sunflower', 'n', 'e', 'i', 'lily', 'lotus', 'm'}

# SET OPERATION IN PYTHON

UNION SET:-


The union() method returns a set that contains all items from the original set, and all items from the specified set(s).You can specify as many sets you want, separated by commas.
It does not have to be a set, it can be any iterable object.If an item is present in more than one set, the result will contain only one appearance of this item.As a shortcut, you can use the | operator instead, see example below.Syntax : set.union(set1, set2...).

In [91]:
#example union set
fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
numbers = { '1','2','3','4','5' }
fruits | numbers

{'1', '2', '3', '4', '5', 'apple', 'grapess', 'kiwi', 'orange', 'pineappless'}

In [92]:
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
num = { '0','1','1','0','3','3' }
num.union(name)

{'0', '1', '3', 'gunaa', 'kavya', 'kovela', 'manisha', 'navya'}

INTERSECTION:

The intersection() method returns a set that contains the similarity between two or more sets.
Meaning The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.set.intersection(set1, set2 ... etc.).
As a shortcut, you can use the & operator instea.

In [93]:
#example intersection set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "tcs","banana"}
x & y

{'banana'}

In [96]:
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
num = { '0','1','1','0','3','3',}
name.intersection(num)

set()

In [97]:
num = { '0','1','1','0','3','3' }
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
name & num

set()

DIFFERENCE SET:


The difference() method returns a set that contains the difference between two setsMeaning : The returned set contains items that exist only in the first set, and not in both sets.As a shortcut, you can use the - operator instead.
syntax : set.difference(set1, set2 ... etc.).

In [115]:
#example of difference set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "tcs","banana"}
x.difference(y)

{'apple', 'cherry'}

In [116]:
num = { '0','1','1','0','3','3','kovela','manisha' }
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
name - num

{'gunaa', 'kavya', 'navya'}

In [117]:
name = { 'kavya', 'navya','kovela', 'manisha', 'gunaa' }
num = { '0','1','1','0','3','3' }
num.difference(name)

{'0', '1', '3'}

SYMMETRIC_DIFFERENCE() SET

The symmetric difference of two sets set1 and set2 is the set of elements which are in either of the sets set1 or set2 but not in both.
set1_name.symmetric_difference(set2_name).

In [118]:
#example of symmetric_ difference() 
a = { '1','2','3','4','5' }
b = { '1','2','apple','4','3','pineapple' }
c = a.symmetric_difference(b)
print(c)

{'pineapple', '5', 'apple'}

In [119]:
name = { 'kranth','ajay','kiran' }
id = { '4566','89889','95655' }
name ^ id

{'4566', '89889', '95655', 'ajay', 'kiran', 'kranth'}

In [120]:
a ^ b

{'5', 'apple', 'pineapple'}

In [121]:
fruits.symmetric_difference(numbers)

{'1', '2', '3', '4', '5', 'apple', 'grapess', 'kiwi', 'orange', 'pineappless'}

# SET METHODS

In [129]:
# Clear() : Removes all the elements from the set
#example of clear()

fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
fruits.clear()
print(fruits)

set()

In [134]:
#copy() : Returns a copy of the set
#example of copy()

fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
fruits.copy()
print(fruits)

{'grapess', 'orange', 'pineappless', 'kiwi', 'apple'}

In [138]:
#difference() : Returns a set containing the difference between two or more sets
#example of difference()

fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
colours= { 'green', 'yellow', 'orange', 'black','apple' }
fruits.difference(colours)

{'grapess', 'kiwi', 'pineappless'}

In [140]:
#difference_update() : Removes the items in this set that are also included in another, specified set

fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
colours= { 'green', 'yellow', 'orange', 'black','apple' }
colours.difference_update(furits)
print(fruits)

{'grapess', 'orange', 'pineappless', 'kiwi', 'apple'}

In [142]:
#intersection_update() : Removes the items in this set that are not present in other, specified set(s)

fruits = { 'apple' , 'grapess' , 'pineappless' , 'orange' , 'kiwi' }
colours= { 'green', 'yellow', 'orange', 'black','apple' }
fruits &= colours
print(colours)

{'yellow', 'orange', 'black', 'green', 'apple'}

In [150]:
#symmetric_difference_update() : The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

a = { '1','2','3','4','5' }
b = { '1','2','apple','4','3','pineapple' }
a ^= b
print(b)

{'pineapple', '1', '4', 'apple', '2', '3'}