# TUPLE
*Tuple are used to store multiple items in a single variable.
*Tuple is one of collection which is ordered are inmutable.
*Tuples are written with round brackets.
*In tuple are unchangeable means that we can't change,add or remove items after the tuple has been created.
*Tuple are every element is separted by th comma.
*tuple is collection items or elements.

In [60]:
#example of tuple

tup=(9,8,7,6,5)
type(tup)

tuple

In [61]:
tup=('data',34.98,67,9)
type(tup)

tuple

In [62]:
e=(2,3,4,5,12,3,4)
type(e)

tuple

In [63]:
u=('page',67.98,45+8j,5,99)
type(u)

tuple

In [64]:
r=(3,9,88,685,1.09,'store',22)
type(r)

tuple

In [65]:
tup=(745,225,7+45j,65,78)                        #positive index
tup[4]

78

In [66]:
y=(34,67,43.8,4+7j,'first')                      # negetive index
tup[-3]

(7+45j)

In [67]:
tup=('apple','string',56,8,9.07,'dogg')
tup[5]                                              #positive index

'dogg'

In [68]:
tup=(2,3.901,6+6j,73,677,90)
tup[4]                                             #positive index

677

In [69]:
tup[-1]                                       #negetive index

90

In [70]:
tup[-5]                                      #accesing the negetive index

3.901

In [71]:
word=('a','b','c','ball',3+5j,56.8,'bat')        #slicing index in type function
type(word)

tuple

In [72]:
word[2:]                                        #starting index

('c', 'ball', (3+5j), 56.8, 'bat')

In [73]:
word[:]                                       #in index word of slicing

('a', 'b', 'c', 'ball', (3+5j), 56.8, 'bat')

In [74]:
word[:4]                                      # end index in slicing

('a', 'b', 'c', 'ball')

In [75]:
word[2:4]                                   #start index into end index

('c', 'ball')

In [76]:
word=('e','t','rose',67+3j,6.09,56,'flower')     #here we have to convert the tuple into list 
word=['e','t','rose',67+3j,6.09,56,'flower']     #and here converting into list 
word[3]="teks"                                   #what value we want to removing and add the value 
print(word)

['e', 't', 'rose', 'teks', 6.09, 56, 'flower']

In [79]:
word[5]=23
print(word)

['e', 't', 'rose', 'teks', 6.09, 23, 'flower']

# canceate
*In tuple canceate same as index also.
*Tuple add of two lists.

In [80]:
#example of canceate in tuple

a1=(2,3,41,3,5,9)
a2=(75,7,8,5,4,12,9)
a3=a1+a2
print(a3)

(2, 3, 41, 3, 5, 9, 75, 7, 8, 5, 4, 12, 9)

In [81]:
print(a2+a1)

(75, 7, 8, 5, 4, 12, 9, 2, 3, 41, 3, 5, 9)

# Repatation
*In tuple same as index only and replace of item or element.
*And replace as mutlipcation id list or tuple.

In [83]:
a1*3

(2, 3, 41, 3, 5, 9, 2, 3, 41, 3, 5, 9, 2, 3, 41, 3, 5, 9)

In [86]:
a2*2

(75, 7, 8, 5, 4, 12, 9, 75, 7, 8, 5, 4, 12, 9)

In [88]:
a3*1

(2, 3, 41, 3, 5, 9, 75, 7, 8, 5, 4, 12, 9)

# mutable and unmutable:
*Here mutable in index is saifity the condition.
*But in tuple is inmutable is not support to item or elements.

#function or methods in tuple:-

*Python has two built-in methods that you can use on tuples
*methods are using count() and index().
*count() defined the returns the number of times a specifited value occurs in a tuple.
*index() defined searches the tuple for a specified value and returns the positive of where it was found.

In [94]:
#example of function of tuples

#count()
number=(1,2,3,4,5,9,8,7,2,3,34,56,1,2,3,7,11,981,4,3,2,)
number.count(3)

4

In [95]:
number.count(1)

2

In [96]:
number.count(4)

2

In [97]:
number.count(34)

1

# append , insert and remove in function:-

*In tuple are unmutable condition so we can't applied to append , insert and removing method 
*Because once condition is satifiy again we can't changed and can't be insert any items.

In [99]:
#example of fucntion of tuples 

#index()

number=(4,5,6,8,'ring',6,8,78.09,4,2,6,5,78,98)
number.index(4)

0

In [100]:
number.index('ring')

4

In [101]:
number.index(78)

12